<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774828276191-e5l10i28neh0ovo3vh9pus4rb2irtgg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774828276191-e5l10i28neh0ovo3vh9pus4rb2irtgg2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>774828276191-713io4qcu0c5p0i518mu22vjug78ub34.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwhouZ80R1tJMkVPDKFd-f4F5aqeOBeyA</string>
	<key>GCM_SENDER_ID</key>
	<string>774828276191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mybiometricApp</string>
	<key>PROJECT_ID</key>
	<string>officebiometric-e15fd</string>
	<key>STORAGE_BUCKET</key>
	<string>officebiometric-e15fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774828276191:ios:f2db734aeea7d5295cec6a</string>
</dict>
</plist>
